<div class="container login panel">
    <span class="control-label" for="username"><%= dgettext('Text 0') %></span>
    <span class="control-label" for="username"><%= dngettext('Text 1: %d items', 2) %></span>
</div>
